.leave{
    width:100%;
    height:100%;
    padding:20px 10px 10px;
}
.leave-status{
    min-width: 300px;
    max-width:350px;
    /* background-color: #464343; */
    background-color: #858181;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding:10px;
    background: #D9D9D9;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    color:black;
}
.leave-status > h3{
    font-size:18px;
    font-weight: 500;
}
.leave-status > p{
    font-size:14px;
}

.leave-history{
    width:100%;
    min-height:400px;
    /* background-color: #464343; */
    background-color: #858181;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding:10px;
    margin: 15px 0;
    background: #D9D9D9;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    color:black;
}
.leave-history .leave-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.leave-head .leave-tabs{
    display:flex;
    flex:1;
}
.leave-head .leave-tab{
    margin:10px;
    font-size:18px;
    border-bottom:1px solid transparent;
}
.leave-tabs .active{
    border-bottom:1px solid white;
}
.leave-head .btn-leave-apply{
    background-color: #994FE2;
    color:white;
    padding:7px 20px;
    border-radius:5px;
    border:1px solid grey;
    font-size:15px;
}

/* Leave Form */
.leave-form-container{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.leave-form {
    z-index: 1;
    color:black;
    max-width: 340px; 
    padding: 10px 10px;
    margin: auto;
    border-radius: 5px; 
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    background: #ebebeb; 
}
.leave-form form {
    margin: 0 30px;
}
.leave-form input{
    width:100%;
    height: 36px;
    margin: 5px auto;
    padding-left: 10px; 
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #fff; 
}
.leave-form button {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px; 
    border: none;
    background: #1c87c9; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.leave-form button:hover {
    background: #26a9e0;
}