<link type="text/css" rel="stylesheet" href="app/leave/leave.comp.css"/>

<div class="leave">
    <!-- <button ng-click="toggleSpinner()">Spinner Toggle</button> -->
    
    <!-- Show leave form if 'showLeaveForm' is true -->
    <div class="leave-form-container" ng-show="showLeaveForm"> 
        <div class="leave-form">
            <form>
                <div class="leave-form-group">
                    <label for="from">From:</label>
                    <input type="date" id="from" ng-model="form_data.from" required/>
                </div>
                <div class="leave-form-group">
                    <label for="to">To:</label>
                    <input type="date" id="to" ng-model="form_data.to" ng-disabled="!form_data.from" required/>
                </div>
                <div class="leave-form-group">
                    <label for="type">Type:</label><br>
                    <select id="type" ng-model="form_data.type" style="width:100%" required>
                        <option value="paid">Paid</option>
                        <option value="med">Med</option>
                    </select>
                </div>
                <div class="leave-form-group">
                    <label for="purpose">Purpose of Leave</label>
                    <textarea id="purpose" cols="30" rows="10" ng-model="form_data.purpose" required></textarea>
                </div>
                <div class="btn-block">
                    <button type="submit" ng-click="submit(form_data); showLeaveForm = !showLeaveForm">Apply leave</button>
                </div>
            </form>
            <button ng-click="showLeaveForm = !showLeaveForm" ng-style="{background:'red'}">Close Form</button>
        </div>
    </div>
    <!-- End Leave Form -->
    <h1 style="text-align:center;color:black;">Leaves</h1>
    <div class="leave-status">
        <h3><u>Leave Status: {{(paid_taken+med_taken)+"/"+(total_leaves_allowed)}}</u></h3>
        <p>Total Leaves Allowed: {{total_leaves_allowed}} </p>
        <p>Paid Leaves Taken: {{paid_taken}} </p>
        <p>Medical Leaves Taken: {{med_taken}}</p>
    </div>
    <div class="leave-history">
        <div class="leave-head">
            <div class="leave-tabs">
                <p class="leave-tab active">All</p>
                <p class="leave-tab">Paid Leaves</p>
                <p class="leave-tab">Medical Leaves</p>
            </div>
            <div>
                <button class="btn-leave-apply" ng-click="showLeaveForm = !showLeaveForm">Apply</button>
            </div>
        </div>
        <div ng-repeat="curr in user.leaves">
            <leave-row record="curr"></leave-row>
        </div>
    </div>
</div>