<link type="text/css" rel="stylesheet" href="app/leave/leave.comp.css"/>

<div class="leave">
    <!-- Show leave form if 'showLeaveForm' is true -->
    <div class="leave-form-container" ng-if="$ctrl.showLeaveForm" ng-controller="leaveForm">
        <div class="leave-form" ng-app="app">
            <form ng-submit="submit($event)">
                <div class="leave-form-group">
                    <label for="from">From:</label>
                    <input type="date" id="from" ng-model="form_data.from"/>
                </div>
                <div class="leave-form-group">
                    <label for="to">To:</label>
                    <input type="date" id="to" ng-model="form_data.to" ng-disabled="!form_data.from"/>
                </div>
                <div class="leave-form-group">
                    <label for="purpose">Purpose of Leave</label>
                    <textarea id="purpose" cols="30" rows="10" ng-model="form_data.purpose"></textarea>
                </div>
                <div class="btn-block">
                    <button type="submit">Apply leave</button>
                    <button ng-style="{background:'red'}" ng-click="$ctrl.showLeaveForm = !$ctrl.showLeaveForm">Close Form</button>
                </div>
            </form>
        </div>
    </div>
    <!-- End Leave Form -->

    <div class="leave-status">
        <h3><u>Leave Status: {{($ctrl.med_taken+$ctrl.med_taken)+"/"+($ctrl.total_leaves_allowed)}}</u></h3>
        <p>Total Leaves Allowed: {{$ctrl.total_leaves_allowed}} </p>
        <p>Paid Leaves Taken: {{$ctrl.paid_taken}} </p>
        <p>Medical Leaves Taken: {{$ctrl.med_taken}}</p>
    </div>
    <div class="leave-history">
        <div class="leave-head">
            <div class="leave-tabs">
                <p class="leave-tab active">All</p>
                <p class="leave-tab">Paid Leaves</p>
                <p class="leave-tab">Medical Leaves</p>
            </div>
            <div>
                <button class="btn-leave-apply" ng-click="$ctrl.showLeaveForm = !$ctrl.showLeaveForm">Apply</button>
            </div>
        </div>
        <div ng-repeat="curr in $ctrl.user.leaves">
            <leave-row record="curr"></leave-row>
        </div>
    </div>
</div>