.task-row{
    display: flex;
    align-items: center;
    max-width: 600px;
    /* background: #504949; */
    background: #858181;
    border-radius: 7px;
    margin:10px 0;
    padding: 5px 10px;
    color:lightgrey;
}
.task-row p{
    font-size: 13px;
    flex:1;
    margin: 0 5px;
}