.profile{
    color:black;
    padding: 15px;
    max-width:600px;
    margin:auto;
}
.profile .btn-submit{
    padding:4px 10px;
}   
.profile input{
    width:fit-content;
}
.profile h3{
    margin:10px 0;
    font-weight: 500;
}
.profile-docs{
    min-height:400px;
    max-height:500px;
    overflow-y:auto;
    padding:10px;
    /* background: #D9D9D9; */
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    color:black;
}
.profile-file{
    display: flex;
    width:100%;
    margin:20px 0;
    justify-content: space-between;
}
.file-desc{
    border:1px solid grey;
    border-radius:8px;
    font-weight: 600;
    padding:5px 10px;
    margin:5px 0;
    font-size:12px;
}
.upload-box > .btns{
    width:fit-content;
    margin-left:auto;
}

.btn-submit{
    border:1px solid black;
    padding:5px 10px;
}


.upload-form-container{
    z-index: 2;
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload-form {
    color:black;
    max-width: 340px; 
    padding: 10px 10px;
    margin: auto;
    border-radius: 5px; 
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    background: #ebebeb; 
}
.upload-form form {
    margin: 0 30px;
}
.upload-form input{
    width:100%;
    height: 36px;
    margin: 5px auto;
    padding-left: 10px; 
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #fff; 
}
.upload-form button {
    width: 100%;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 5px; 
    border: none;
    background: #1c87c9; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.upload-form button:hover {
    background: #26a9e0;
}

.upload-form-group{
    text-align: center;
    margin:10px 0; 
}
.upload-form-group label i{
    font-size:50px;
    margin:auto;
}
.upload-form-group select{
    display: flex;
    justify-content: center;
    width:100%;
}
.btn-block .btn-cancel{
    background-color: red;
}