<link rel="stylesheet" href="app/profile/profile.comp.css">
<!-- <button ng-click="$ctrl.toggleVisible()">Profile</button> -->


<div class="profile">
    <button ng-click="upload()">Click</button>
    <h3>Documents</h3>
    <div class="profile-file">
        <p>{{documents[0].title}}</p>
        <div class="upload-box">
            <input type="file" fileread="documents[0].file">
            <button ng-if="documents[0].file" ng-click="upload(documents[0])">submit</button>
        </div>
    </div>
    <div class="profile-file">
        <p>{{documents[1].title}}</p>
        <div class="upload-box">
            <input type="file" fileread="documents[1].file">
            <button ng-if="documents[1].file" ng-click="upload(documents[1])">submit</button>
        </div>
    </div>
</div>