<link rel="stylesheet" href="app/profile/profile.comp.css">

<div class="profile">
    <h3>Documents</h3>
    <div class="profile-docs">
        <div class="profile-file" ng-repeat="doc in documents">
            <p>{{doc.title}}</p>
            <div class="upload-box">
                <div class="btns">
                    <button ng-click="upload(doc)" class="btn-submit">Submit</button>
                    <label for="{{doc.name}}">Select</label>
                    <input type="file" id="{{doc.name}}" hidden fileread="doc.file" custom-on-change="onChange">
                </div>
                <div ng-if="temp[doc.name]" class="file-desc">
                    {{temp[doc.name].name}}
                    ({{formatBytes(temp[doc.name].size)}})
                </div>
            </div>
        </div>
    </div>
</div>