<link rel="stylesheet" href="app/sidebar/sidebar.comp.css">

<div class="sidebar" ng-style="{'width':showSidebar ? '200px' : '50px' }">
    <div class="sidebar-logo" style="font-size:25px;">
        <i class="fa fa-bars" ng-class="{'fa-chevron-left':showSidebar,'fa-bars':!showSidebar}" ng-click="toggleSidebar()"></i>  
        <p class="logo" ng-if="showSidebar">Queueme</p>
    </div>
    <div class="sidebar-menu">
        <a class="sidebar-item" href="#!" ng-click="showPage('leave')">
            <i class="fas fa-sign-out-alt"></i>
            <p ng-if="showSidebar">Leaves</p>
        </a>
        <a class="sidebar-item" href="#!task" ng-click="showPage('task')">
            <i class="fa fa-calendar-days"></i>
            <p ng-if="showSidebar">Tasks</p>
        </a>
    </div>
</div>