.sidebar{
    width:200px;
    padding:10px;
    height:100%;
    transition:width ease-in-out 500ms;
}
.sidebar-item,.sidebar-logo{
    display:flex;
    align-items: center;
    margin:5px 0;
    cursor:pointer;
}
.sidebar-item i{

    font-size:18px;
    margin-bottom:10px;
    margin-right:5px;
}
.sidebar-logo i{
    font-size:28px;
    margin-right:5px;
}
.sidebar-logo{
    margin-bottom:25px;
}
.sidebar-item:hover{
    color:grey;
}
.sidebar a{
    color:inherit;
    text-decoration:none;
}